// --------------------------------------------------------------------------
// Reviews
// --------------------------------------------------------------------------

.reviews {
	overflow: hidden;
}

.reviews-heading {
}


.reviews-carousel-wrapper {
	position: relative;
	max-width: 750px;
	margin: 0 auto;
}


.reviews-carousel {
	position: relative;
	padding: 0 30px 0;
	.owl-stage-outer {
		overflow: visible;
	}
	.owl-item {
		padding: 0;
		transition: opacity 0.25s;
		opacity: 0;
		&.active {
			opacity: 1;
		}
	}
	.owl-prev, .owl-next {
		
	}
	.owl-prev {
		left: -20px;
	}

	.owl-next {
		right: -20px;
	}	
}


.reviews-carousel-prev, .reviews-carousel-next {
	position: absolute;
	top: 50%;
	color: #006CD1;
	margin: -12px 0 0;
	display: flex;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	transition: .25s;
	border: none;
	padding: 0;
	background: none;
	z-index: 100;
	cursor: pointer;
	.icon-prev {
		left: -2px;
	}
	.icon-next {
		left: 2px;
	}
	&:hover {
		color: #0077DF;
		background: #fff;
		box-shadow: 0 0 24px rgba(0,119,223,.33);
	}
}

.reviews-carousel-prev {
	left: -20px;
}

.reviews-carousel-next {
	right: -20px;
}

.reviews-item {
	display: block;
	background: #fff;
	border-radius: 6px;
	box-shadow: 7.1px 9.7px 81px rgba(0, 119, 223, 0.17);
	padding: 62px 20px 38px;
	position: relative;
	text-align: center;
	font-size: 15px;
	line-height: 24px;
	margin: 36px 0 0;
}

.reviews-item-image {
	width: 80px;
	height: 75px;
	border-radius: 6px;
	background: #a0a7e2;
	overflow: hidden;
	position: absolute;
	top: -36px;
	left: 50%;
	margin: 0 0 0 -40px;
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	
}

.reviews-item-title {
	margin: 0 0 15px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 900;
}

.reviews-item-text {
	margin: 0 0 22px;
}

.reviews-item-mark {
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-size: 12px;
	line-height: 20px;
	font-weight: 900;
	text-transform: uppercase;
	color: #006cd1;
	padding: 0 12px 4px;
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		height: 6px;
		background: #006cd1;
		border-radius: 3px;
	}
}

.reviews-line-1 {
	position: absolute;
	top: 45px;
	left: 50%;
	fill: none;
	stroke-width: 20;
	stroke: #DBECFB;
	opacity: 0.15;
	margin: 0 0 0 -940px;
	z-index: -1;
}

.reviews-line-2 {
	position: absolute;
	top: 100px;
	left: 50%;
	fill: none;
	stroke-width: 5;
	stroke: #7EBDF5;
	// opacity: 0.15;
	margin: 0 0 0 -960px;
	z-index: -1;
}

.reviews-line-3 {
	position: absolute;
	top: 125px;
	left: 50%;
	fill: none;
	stroke-width: 20;
	stroke: #F5FAFE;
	opacity: 0.02;
	margin: 0 0 0 -920px;
	z-index: -1;
}

.reviews-line-1, .reviews-line-2, .reviews-line-3 {
	stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    transition: 2s linear;
}

.reviews-photos-group {
	position: absolute;
	top: 50%;
	width: 242px;
	height: 264px;
	// margin: -132px 90px 0;
	margin: -132px 40px 0;
	z-index: 100;
	img {
		transition: 0.4s;
		display: block;
		width: 100%;
		position: absolute;
		border-radius: 6px;
		object-fit: cover;
		opacity: 0.65;
		&:nth-child(1) {
			top: 10px;
			right: 44px;
			width: 56px;
			height: 51px;
		}
		&:nth-child(2) {
			top: 0;
			left: 70px;
			width: 33px;
			height: 30px;
		}
		&:nth-child(3) {
			top: 55px;
			left: 24px;
			width: 41px;
			height: 38px;
		}
		&:nth-child(4) {
			top: 104px;
			left: 130px;
			width: 57px;
			height: 53px;
		}
		&:nth-child(5) {
			top: 136px;
			left: 32px;
			width: 49px;
			height: 46px;
		}
		&:nth-child(6) {
			bottom: 10px;
			left: 0;
			width: 32px;
			height: 30px;
		}
		&:nth-child(7) {
			bottom: 0;
			left: 100px;
			width: 62px;
			height: 56px;
		}
		&:nth-child(8) {
			bottom: 42px;
			right: 0;
			width: 39px;
			height: 36px;
		}

		&.is-active {
			opacity: 1;
			transform: scale(3);
		}

	}
	&__left {
		right: 100%;
	}
	&__right {
		left: 100%;
		transform: rotateY(180deg);
	}
}


.owl-item.active .reviews-item-photos img {
	animation: zoomIn .4s both;
	&:nth-child(2) {
		animation-delay: .2s;
	}
	&:nth-child(3) {
		animation-delay: .3s;
	}
	&:nth-child(4) {
		animation-delay: .4s;
	}
	&:nth-child(5) {
		animation-delay: .5s;
	}
	&:nth-child(6) {
		animation-delay: .6s;
	}
	&:nth-child(7) {
		animation-delay: .7s;
	}
	&:nth-child(8) {
		animation-delay: .8s;
	}
}