body {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}                                                

.wrapper {
	max-width: 1170px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0px auto;
}