.avtor {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	animation-name: fadeInDown;
	overflow: hidden;
	@media screen and (max-width: 963px) {
		padding: 0 15px;
		box-sizing: border-box;
	}
	@media screen and (max-width: 1200px) {
		.avtor-item-2 {
			padding: 50px 35px;
		}
	}
}

.img-batya {
	display: flex;
	justify-content: center;
	height: 310px;
}

.avtor-container {
	display: flex;
	&__left {
		display: flex;
		flex-direction: row;
		.avtor-block-item{
			display: flex;
			align-items: flex-end;
			flex-direction: column;
		}

		.batya-ul {
			width: 85%;
			li {
				font-family: RobotoCondensed-Regular;
				margin: 22px 0;
				display: flex;
				flex-direction: row;
				align-items: center;
				animation-name: fadeInLeft;
				animation-duration: 1s;
				&:nth-child(1) {
					animation-delay: 0.2s;
				}
				&:nth-child(2) {
					animation-delay: 0.4s;
				}
				&:nth-child(3) {
					animation-delay: 0.6s;
				}
				&:nth-child(4) {
					animation-delay: 0.8s;
				}
				p{
				color: #0d163f;
					width: 90%;
				}
				div {
					width: 16px;
					height: 16px;
					margin-right: 10px;
					border-radius: 90%;
					box-shadow: 0 3px 9px rgba(61, 74, 197, 0.17);
					background: url('../images/list.png') no-repeat 50% 40%;	
					background-color: #3d4ac5;
					&:hover {
						background: #3d4ac5 url('../images/green-list.png') no-repeat 50% 40%;
					}	
				}
			}
		}
	} 

	&__right {
		width: 60%;
		padding: 70px 0 75px 0;
		padding-left: 50px;
		box-sizing: border-box;
		background: #3d4ac5;
		font-size: 18px;
		display: flex;
		flex-direction: column;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 999999px;
			height: 100%;
			left: 0;
			top: 0;
			z-index: -1;
			background: #3d4ac5;
		}
	}
}

.avtor-title {
	color: white;
	font-family: RobotoCondensed-Bold;
	margin-bottom: 40px;
	animation: fadeInRight;
	animation-delay: 2s;
}
.avtor-description {
	color: white;
	font-family: RobotoCondensed-Regular;
	font-size: 16px;
	line-height: 24px;
	animation: fadeInRight;
	animation-delay: 2s;
	b {
		font-weight: bold;
	}
}

@media screen and (max-width: 806px) {
	.avtor-container__right {
		width: 100%;
		&::after {
			display: none;
		}
	}
}

@media screen and (max-width: 528px) {
	.avtor-container {
		&__right {
			text-align: center;
			padding: 0;
			padding-top: 0;
			padding: 5px;
			padding-top: 10px;
			
		}
	}
}

.batya-title {
	color: #3d4ac5;
	font-size: 25px;
	margin-top: 70px;
	font-weight: 700;
	width: 85%;
	font-family: RobotoCondensed-Bold;
	@media screen and (max-width: 806px) {
		margin-top: 0;
		width: 100%;
		text-align: center;	
	}
}

.main-avtor-title {
	text-align: center;
}



@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}


@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}

@media screen and (max-width: 600px) {
	.batya-img-block {
		display: none;
		.img-batya {
			display: none;
		}
	}	
	.avtor-block-item-3 {
		width: 100%;
	}

}
@media screen and (max-width: 800px) {
	.avtor {
		background: none;
	}
	.avtor-container{
		display: flex;
		flex-direction: column;
		.avtor-item-1 {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			.batya-img-block {
				display: flex;
				align-self: flex-start;
			}
		}
		.avtor-block-item-3 {
			display: flex;
			justify-content: flex-start;
			h2 {
				width: 100%;
				margin-top: 0;
				text-align: center;
			}
			.batya-ul {
				width: 100%;
				li{
					p{
					}
				}
			}
		}
		&__right {
			width: 100%;
			padding: 25px;
			margin-top: 25px;
		}
		
	}
}