.header {
	display: flex;
	width: 100%;
	background: url(../images/ellipse.png) no-repeat 50% 100%;
	padding-bottom: 110px;
	@media screen and (max-width: 1190px) {
		padding: 0 15px 70px 15px;
		box-sizing: border-box;
	}

	&__index {
		display: flex;
		flex-direction: column;
		animation: fadeIn;
		animation-delay: 0.3s;
		width: 100%;
		@media screen and (max-width: 1110px) {
			width: 100%;
		}
	}
}

.header__index__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 25px;
	width: 100%;
	position: relative;
	.logo {
		margin-right: 15px;
		display: flex;
		flex-direction: row;
		.menu-button {
			display: flex;
			flex-direction: row;
		}
	}
	.header-menu {
		width: 40%;
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-right: 15px;
		margin-bottom: 35px;

		@media screen and (max-width: 625px) {
			flex-direction: column;	
		}

		&__element {
			margin-bottom: 20px;
		}

		li a {
			color: white;
			display: inline-flex;
			text-decoration: none;
			font-family: RobotoCondensed-Regular;
			font-size: 16px;
			width: 100%;
		}

		li a:hover {
			text-decoration: underline;
		}
	}
	.pnone-link {
		color: white;
		font-family: RobotoCondensed-Bold;
		font-size: 18px;	
		text-decoration: none;
		a:hover {
			text-decoration: underline;
		}
	}
	.sign-in {
		display: flex;
		flex-direction: row;
		margin: 0 15px;
		color: white;
		.login-button{
			display: flex;
			color: white;
			font-family: RobotoCondensed-Regular;
			transition: 0.3s;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}

		p {
			display: flex;
			color: white;
			margin: 0 5px;
		}
		.register-button {
			display: flex;
			color: white;
			font-family: RobotoCondensed-Regular;
			text-decoration: none;
			transition: 0.3s;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}


.header__index__info {
	padding-top: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	flex-wrap: nowrap;
	.examer-title {
		color: white;
		font-family: Plumb-Black;
		font-size: 41px;
		width:600px;
		font-weight: 900;
		padding-bottom: 50px;
	}
	.test-block {
		display:flex;
		margin-top:	5px;
		flex-direction: row;
		align-items: flex-start;
		.test-block__left {
			display: flex;
			flex-direction: column;
			width: 50%;
		}
		.test {
			max-width: 230px;
			width: 100%;
			height: 51px;
			display: flex;
			justify-content: center;
			align-items: center;

			color: white;
			font-size: 14px;
			font-family: RobotoCondensed-Bold;
			border-radius: 100px;
			margin-right: 10px;
			text-transform: uppercase;
			transition: all 0.3s;	
		}
		.test {
			background-color: #cdff54;
		    	box-shadow: 0 3px 26.4px 2.6px rgba(158, 196, 65, 0.93);
			color: #3d4ac5;
			font-size: 16px;
			border: 2px solid #cdff54;
			text-decoration: none;
		}
		.test:hover{
			background: none;
			color: #cdff54;
			box-shadow: none;
			border: 2px solid #cdff54;
		}
		/*.test-block-items:nth-child(2) a {
			margin-right: 0px;
			background:  url(../images/arrow.png) no-repeat 90% 48%;
			@media screen and (max-width: 537px) {
				background: none;
			}	
		}
		.test-block-items a:nth-child(2):hover {
			transform: scale(0.95);
			@media screen and (max-width: 537px) {
				background-image: none;
			}	
		}*/
		a.test-2 {
			color: white;
			background: none;
			margin-left: 10px;	
			height: 45px;
			display:flex;
			align-items: center;
			font-family: RobotoCondensed-Regular;
		}
		a.test-2:hover {
			transform: scale(1.05);

		}
		.test-block__left p {
			color: white;
			font-size: 13px;
			font-family: RobotoCondensed-Regular;
			margin-top: 10px;
			margin-left: 10px;
		}
	}
}

@media screen and (max-width: 1110px) {
	.header__index {
		&__container {
			width: 100%;
		}
		&__info {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			.info-container {
				display: flex;
				width: 100%	;
				flex-direction: column;
				.examer-title {
					text-align: center;
					width: 100%;
				}
			}
			.video {
				margin-top: 40px;
				margin-bottom: 0;	
			}
		}
	}
}

.color-green {color: #cdff54;}
.dark-text {color: #0d163f;}
.video {
	width: 440px;
	height: 440px;
	border-radius: 1000px;
	opacity: 0.7;
	position: relative;
	z-index: 110;
	display: flex;
	margin-top: -15px;
	margin-right: 	40px;
	justify-content: center;
	align-items: center;
	&::before {
		content: "";
		width: 100%;	
		height: 100%;
		left: 0;	
		top: 0;	
		position: absolute;
		border: 1px solid #989fe0;
		z-index: -1;
		border-radius: 1000px;
		animation: pulse-video 2s infinite;	
	}

	&::after {
		content: "";
		width: 100%;	
		height: 100%;
		left: 0;	
		top: 0;	
		position: absolute;
		border: 1px solid #989fe0;
		border-radius: 1000px;
		animation-name: pulse-video;
		animation-duration: 2s;  
		animation-delay: 0.5s;
		animation-iteration-count: infinite;
	}
	@keyframes pulse-video {
		50% {
			opacity: 1;
		}
		100% {
			opacity: 0;
			transform: scale(1.17);
		}
	} 
}

.video-button {
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background: #cdff54 url(../images/video-arrow.png) no-repeat 58% 50%;
	position: relative;	
	img{
		position: absolute;
		right: 194%;
		top: 50%;
	}	
	&::before {
			content: "";
			width: 100%;
			z-index: -1;
			height: 100%;
			position: absolute;
			background: #cdff54;
			opacity: 0.1;
			border-radius: 1000px;
			animation-name: button-pulse-2;
			animation-duration: 2s;  
			animation-iteration-count: infinite;
	}
	&::after {
		content: "";
		width: 100%;	
		height: 100%;
		position: absolute;
		background: #cdff54;
		opacity: 0.5;
		z-index: -1;	
		border-radius: 1000px;
		animation-name: button-pulse;
		animation-duration: 2s;  
		animation-delay: 0.5s;
		animation-iteration-count: infinite;
	}
	@keyframes button-pulse {
		0% {
			opacity: 0.9;
		}
		20%{
			opacity: 0.6;
		}
		100% {
			opacity: 0;
			transform: scale(1.7);
		}
	}
	@keyframes button-pulse-2 {
		0% {
			opacity: 1;
		}
		20%{
			opacity: 0.6;
		}
		100% {
			opacity: 0;
			transform: scale(1.7);
		}
	}
}

@keyframes bounse {
	0% {
		transform: translateY(-1000px);
	}
	50% {
		transform: translateY(30px);
	}
	80% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes bounses{
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-30px);
	}
	80% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(-1000px);
	}
}
.modal-content-animation {animation: bounses 0.8s;}

.modal {
	display: none;
	position: absolute;
	top: 5vw;
	left: 32.5%;
	margin: 0 auto;	
	max-width: 410px;
	width: 100%;
	padding: 15px;
	box-sizing:border-box;
	align-items: center;
	background-color: white;
	z-index: 1000;
	flex-direction: column;
	box-shadow: 0 3px 15.4px 0.6px rgba(61, 74, 197, 0.1);
	font-family: RobotoCondensed-Regular;
	animation: bounse 0.8s;

	::-webkit-input-placeholder{
		color:#3d4ac5;
	}

	::-moz-placeholder{
		color:#3d4ac5;
	}/* Firefox 19+ */

	:-moz-placeholder{
		color:#3d4ac5;
	}/* Firefox 18- */

	:-ms-input-placeholder{
		color:#3d4ac5;
	}
	&__icon-login {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		color: #3d4ac5;
		font-stretch: ultra-expanded;	
	}
	&__login-title {
		display: flex;
		color: #0d163f;
		font-family: Plumb;
		font-size: 30px;
		margin-top: 25px;
		width: 100%;
		display: flex;
		justify-content: center;
		margin-bottom: 	35px;
		font-weight: 900;
		padding-bottom: 40px;	
		border-bottom: 1px solid #dbdce4;
		text-transform: uppercase;
	}

	&__login-form {
		display: flex;
		flex-direction: column;
		align-items: center;
		input {
			height: 40px;
			max-width: 225px;
			border: none;
			padding-left: 30px;
			color: #3d4ac5;
			font-family: RobotoCondensed-Regular;
			box-sizing: border-box;
			font-size: 14px;
			border: 2px solid #cdff54;
			border-radius: 23px;
			margin-bottom: 20px;	
		}
		a {
			display: flex;
			font-size: 14px;
			font-family: RobotoCondensed-Regular;
			color: #3d4ac5;
			margin-bottom: 30px;
		}
	}

	&__social {
		display: flex;
		justify-content: space-around;
		max-width: 160px;
		width: 100%;
		.social__button a {
			display: flex;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			transition: 0.4s;
			&:hover {
			}
		}
			.button-vkontakte a {
				background: #4d76a1 url(../images/login-vk.png) no-repeat center;
			}
			.button-facebook a {
				background: #3b5998 url(../images/fb.png) no-repeat center;
			}
			.button-google a {
				background: #dc4e41 url(../images/login-gg.png) no-repeat center;

			}
	}

	&__login-register {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		width: 100%;
		.button-log {
			max-width: 235px;
			width: 100%;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: none;
			border: 3px solid #cdff54;
			background-color: #cdff54;
			border-radius: 27px;
			text-transform: uppercase;
			color: #3d4ac5;
			font-weight: bold;
			font-family: RobotoCondensed-Bold;
			font-size: 15px;
			margin-top: 35px;
			text-decoration: none;
			margin-bottom: 20px;	
			box-shadow: 0 3px 16.4px 1.6px rgba(158, 196, 65, 0.36);
			transition: 0.4s;
			&:hover {
				background: transparent;
			}
		}
		a {
			color: #3d4ac5;
			font-size: 14px;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.modal__show {display: flex;}

.modal-register {
	display: none;
	animation: bounse 0.8s;
	&__icon-login {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		color: #3d4ac5;
		font-stretch: ultra-expanded;	
	}
	&__login {
		display: flex;
		color: #0d163f;
		font-family: Plumb;
		font-size: 30px;
		margin-top: 25px;
		width: 100%;
		display: flex;
		justify-content: center;
		margin-bottom: 	35px;
		font-weight: 900;
		padding-bottom: 40px;	
		border-bottom: 1px solid #dbdce4;
		text-transform: uppercase;
	}

	&__login-form {
		display: flex;
		flex-direction: column;
		align-items: center;
		input {
			height: 40px;
			max-width: 225px;
			border: none;
			padding-left: 30px;
			color: #3d4ac5;
			font-family: RobotoCondensed-Regular;
			box-sizing: border-box;
			font-size: 14px;
			border: 2px solid #cdff54;
			border-radius: 23px;
			margin-bottom: 20px;	
		}
		a {
			display: flex;
			font-size: 14px;
			font-family: RobotoCondensed-Regular;
			color: #3d4ac5;
			margin-bottom: 30px;
		}
	}

	&__social {
		display: flex;
		justify-content: space-around;
		max-width: 160px;
		width: 100%;
		.social__button a {
			display: flex;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			transition: 0.4s;
			&:hover {
			}
		}
			.button-vkontakte a {
				background: #4d76a1 url(../images/login-vk.png) no-repeat center;
			}
			.button-facebook a {
				background: #3b5998 url(../images/fb.png) no-repeat center;
			}
			.button-google a {
				background: #dc4e41 url(../images/login-gg.png) no-repeat center;

			}
	}

	&__register-login {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		.button-log {
			max-width: 235px;
			width: 100%;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: none;
			border: 3px solid #cdff54;
			background-color: #cdff54;
			border-radius: 27px;
			text-transform: uppercase;
			color: #3d4ac5;
			font-weight: bold;
			font-family: RobotoCondensed-Bold;
			font-size: 15px;
			margin-top: 35px;
			text-decoration: none;
			margin-bottom: 20px;	
			box-shadow: 0 3px 16.4px 1.6px rgba(158, 196, 65, 0.36);
			transition: 0.4s;
			&:hover {
				background: transparent;
			}
		}
		a {
			color: #3d4ac5;
			font-size: 14px;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.modal-content-register-show {display: flex;}

.modal-content-register-animation {animation: bounses 0.8s;}

@media screen and (max-width: 1100px) {
	.video {
		margin: 0;
		margin-top: 20px;
		margin-bottom: 50px;
	}
	.header__index__info {
		flex-direction: column;
		align-items: center;
		.wrapper {
		
		}
		.info-container{
			h2{
				width:100%;
				text-align:center;
			}
		}
	}
	.header {
		padding-bottom: 70px;
	}
	.test-block{
		flex-direction:column;
		align-items:center;
		width: 100%;
		justify-content: center;
		.test-block-items{
			display:flex;
			max-width: 235px;
			margin-right: 5vw;	
			justify-content: space-around;
		}
	}
}
@media screen and (max-width: 864px) { 
	.logo {
		align-self: flex-start;
	}
}
@media screen and (max-width: 1000px) {
	.header__index__container {
		width: 100%;
		flex-wrap: wrap;
		.logo {
			width: 25%;
			margin: 0;
		}
		.header-menu,
		.footer-menu {
			width: 40%;
			margin: 0;
			flex-wrap: wrap;
		}
		.phone {
			width: 50%;
			margin: 0;
			margin-top: 20px;
		}
		.sign-in {
			width : 50%;
			margin: 0;
			margin-top: 20px;
			display: flex;
			width: 40%;
			justify-content: flex-end;
		}
	}
}
@media screen and (max-width: 625px) {
	.header-menu {
		display: flex;
		flex-direction: column;
		width: 20%;
	}
}
@media screen and (max-width: 420px) {
	.header__index__container {
		align-items: center;
		.logo {
			width: 100%;
			display: flex;
			justify-content: center;
		}
		ul.header-menu {
			width: 100%;
			display: flex;
			justify-content: center;
			li {
				width: 100%;
				display: flex;
				justify-content: center;
				a {
					width: 100%;
					display: flex;
					justify-content: center;
				}
			}
		}
	}
}
@media screen and (max-width:520px) {
	.video {
		width: 300px;
		height: 300px;
	}
}
@media screen and (max-width: 390px) {
	.video {
		width: 265px;
		height: 263px;
	}
}
@media screen and (max-width: 395px) {
	.info-container {
		h2 {
			font-size: 32px;
		}
	} 
}