
@font-face {
  font-family: 'Plumb-Black';
  src: url('../fonts/Plumb-Black.eot?#iefix') format('embedded-opentype'),  
	url('../fonts/Plumb-Black.woff') format('woff'), 
  url('../fonts/Plumb-Black.ttf')  format('truetype'), 
  url('../fonts/Plumb-Black.svg#Plumb-Black') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url('../fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),  
	     url('../fonts/RobotoCondensed-Bold.woff') format('woff'), 
       url('../fonts/RobotoCondensed-Bold.ttf')  format('truetype'), 
       url('../fonts/RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url('.eot?#iefix') format('embedded-opentype'),  
	     url('../fonts/RobotoCondensed-Regular.woff') format('woff'), 
       url('../fonts/RobotoCondensed-Regular.ttf')  format('truetype'), 
       url('../fonts/RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}


