
@font-face {
  font-family: 'Plumb-Black';
  src: url('Plumb-Black.eot?#iefix') format('embedded-opentype'),  url('Plumb-Black.otf')  format('opentype'),
	     url('Plumb-Black.woff') format('woff'), url('Plumb-Black.ttf')  format('truetype'), url('Plumb-Black.svg#Plumb-Black') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url('RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),  url('RobotoCondensed-Bold.otf')  format('opentype'),
	     url('RobotoCondensed-Bold.woff') format('woff'), url('RobotoCondensed-Bold.ttf')  format('truetype'), url('RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url('.eot?#iefix') format('embedded-opentype'),  url('RobotoCondensed-Regular.otf')  format('opentype'),
	     url('RobotoCondensed-Regular.woff') format('woff'), url('RobotoCondensed-Regular.ttf')  format('truetype'), url('RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}


